{% extends 'base.html' %} 
{% block content %}

<div class = "container">
  <font size="100">
  <p class="text-center"><b> AG Outdoors | Captain Andy Gustafson </b></p>
  </font>
</div>
<br/>
<br/>
<div class="container">
  <div class="row">
    <div class="col">
     <img src="{{ url_for('static', filename='images/22in_smallmouth.png') }}" class="img-fluid" alt="smallmouth">
    </div>
    <div class="col-6">
      USCG Captain Andy Gustafson grew up on the shores of Lake Superior. Let his 40 years of multi-species experience on Lake Superior and surrounding Lakes help
create lasting memories. 
<br />
<br />
&nbsp; &nbsp; &nbsp; &nbsp; If your interest is a private tour of the sea caves or a sunset cruise in the apostle islands, Captain Andy can make that happen. 	
<br />
<br />
&nbsp; &nbsp; &nbsp; &nbsp;  In between family and guiding, Captain Andy is in his sixth year of fishing the <i> Aims Professional Walleye Tour</i>. 
Due to his experience and success in competitive fishing, Captain Andy brings proven techniques to pass along to clients. 
<br />
<br />
&nbsp; &nbsp; &nbsp; &nbsp; You will be comfortable and dry while fishing out of a 2021 219 TFX Yarcraft with smooth move seats Powered by a 350 Suzuki with a 9.9 Suzuki kicker. 
At the helm there is two humminbird Gen 4 graphs and at the bow there is a Garmin Live Scope with a Minn Kota Terrova 112 lb I-Pilot Link. 
<br />
<br />
&nbsp; &nbsp; &nbsp; &nbsp; From family fun to the hardcore angler, your next adventure awaits!
    </div>
    <div class="col">
      <img src="{{ url_for('static', filename='images/boat.jpg') }}" class="img-fluid" alt="boat">
    </div>
  </div>
<br/>

<br />
<hr color="grey"/>
<br/>

<center>
<iframe width="560" height="315" src="https://www.youtube.com/embed/EMVPe3wOHIc" frameborder="0" allowfullscreen></iframe>
</center>

<br />
<hr color="grey"/>
<br/>

<center>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/Y45fZjk2H34" frameborder="0" allowfullscreen></iframe>
</center>

{% endblock %}