{% extends 'base.html' %} 
{% block content %}

      <div class = "container">
          <font size="100">
        <p class="text-center"><b> Rates </b></p>
        </font>
    <div class="container">
        <div class="row">
          <div class="col">
            <img src="static/images/Lake Super 6.jpg" class="img-fluid" alt="LS6">
          </div>
          <div class="col-6">
            <h2> Full Day Rates (8 Hours) </h2>
            <hr color="blue">
            -1-2 People - $500
            <br/>
            -3 People - $550
            <br/>         
            <br/>
            <h2> Half Day Rates </h2>
            <hr color="blue">
            -1-2 People - $350
            <br/>
            -3 People - $400
            <br/>
            <br/>
            <h2> What you need to bring </h2>
            <hr color="blue">
            - Current Fishing Liscence and Great Lakes Stamp(if necessary)
            <br/>
            - Rain Gear
            <br/>
            - Season Appropriate Clothing
            <br/>
            - Sunscreen
            <br/>
            - Camera
            <br/>
            - Lunch
            <br/>
            - Positive Attitude
            <br/>
            <br/>
            <h2> Provided </h2>
            <hr color="blue">
            - U.S. Coast Guard Liscence
            <br/>
            - U.S.C.G. Safety Equipment
            <br/>
            - First Aid Certified
            <br/>
            - CPR Certified
            <br/>
            - All Fishing Equipment
            <br/>
            - Live bait
            <br/>
            - Fish Cleaning
            <br/>
            - Lodging Assistance
            <br />
          </div>
          <div class="col">
            <img src="static/images/Lake M 1.jpg" class="img-fluid" alt="LM1">
          </div>
        </div>
      </div>

  {% endblock %}