{% extends 'base.html' %} 
{% block content %}

      <div class = "container">
          <font size="100">
        <p class="text-center"><b> Trips </b></p>
        </font>
    <div class="container">
        <div class="row">
          <div class="col">
            <img src="static/images/Lake M 3.jpg" class="img-fluid" alt="LM3">
          </div>
          <div class="col-6">
            <h2> Lake Superior and Surrounding Lakes: All Year </h2>
            <hr color="blue">
            From chasing trophy smallmouth bass on Chequamegon Bay to open water trolling for trout and salmon and chasing big water walleye, Lake Superior 
has you covered. Our inland waters are a good backup when mother nature doesn't allow us on Lake Superior or if you would prefer a smaller body of water. 
Our inland waters offer excellent fishing for Walleye, Bass, and Panfish.
            <br/>
            <br/>
            <h2> Lake Mille Lacs Trip: May and June </h2>
            <hr color="blue">
            Offering Walleye fishing trips on Lake Mille Lacs in May and June. This trip you will find that 100 fish days are possible and your next trophy Walleye is
just a cast away!
            <br/>
            <br/>
            <h2> Lake of the Woods Trip: August </h2>
            <hr color="blue">
            In the month of August I offer trips to Big Traverse Bay on the famous Lake of the Woods. You will experience limits of Walleyes with many true giants mixed in.
            <br/>
            <br/>
            <h2> Apostle Islands Sunset Tours: Summer Months </h2>
            <hr color="blue">
            Experience our seacaves, tour the Apostle Islands to take in the natural beauty that Lake Superior has to offer. Explore the Apostle Islands including their
secluded sandy beaches, multiple historic lighthouses, natural wildlife, and breathtaking sunset. 
            <br />
          </div>
          <div class="col">
            <img src="static/images/Lake Super 5.jpg" class="img-fluid" alt="LS5">
          </div>
        </div>
      </div>

  {% endblock %}